<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FilesDirectory" value="H:\VictoryLink Tasks\Task 4.72\Files\" /> <!-- Change Folder Directory Here -->
	</appSettings>
</configuration>